<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Macramee</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body class="bg-dark text-white">
        <header th:insert="fragments/header.html :: universalheader"></header>
        <div th:insert="fragments/navigation.html :: navigation"></div>
        <div class="container p-3 my-4 bg-secondary" align="center">
            <h1 class="macra text-center">My Macramee Pieces</h1>
            <p>All work seen here is also for sale! Please check my contact page for details. </p>

            <div class="row">
                <figure class="col-md-4 thumbnail">
                    <img alt="M0001" th:src="@{../img/gallery/M0001.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0002" th:src="@{../img/gallery/M0002.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0003" th:src="@{../img/gallery/M0003.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0004" th:src="@{../img/gallery/M0004.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0005" th:src="@{../img/gallery/M0005.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0006" th:src="@{../img/gallery/M0006.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0007" th:src="@{../img/gallery/M0007.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0008" th:src="@{../img/gallery/M0008.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0009" th:src="@{../img/gallery/M0009.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0010" th:src="@{../img/gallery/M0010.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0011" th:src="@{../img/gallery/M0011.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0012" th:src="@{../img/gallery/M0012.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0013" th:src="@{../img/gallery/M0013.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0014" th:src="@{../img/gallery/M0014.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0015" th:src="@{../img/gallery/M0015.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0016" th:src="@{../img/gallery/M0016.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0017" th:src="@{../img/gallery/M0017.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0018" th:src="@{../img/gallery/M0018.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0019" th:src="@{../img/gallery/M0019.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0020" th:src="@{../img/gallery/M0020.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0021" th:src="@{../img/gallery/M0021.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0022" th:src="@{../img/gallery/M0022.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0023" th:src="@{../img/gallery/M0023.jpg}" style="width:100%"/>
                </figure>
                <figure class="col-md-4 thumbnail">
                    <img alt="M0024" th:src="@{../img/gallery/M0024.jpg}" style="width:100%"/>
                </figure>
            </div>
        </div>
    </body>
</html>