<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        lang="en">
<head>
    <link href="/static/css/navigation.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>
    <div th:fragment="navigation">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>

                <li sec:authorize="hasRole('ADMIN')">
                    <a href="/courses/add">Create Course</a>
                </li>

                <li><a href="/courses/all">Courses</a></li>

                <li><a href="/aboutUs">About Us</a></li>

                <li sec:authorize="isAuthenticated()">
                    <a href="/logout">Logout</a>
                </li>

                <li sec:authorize="isAnonymous()">
                    <a href="/login">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>