<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        lang="en">
<head>
    <link href="../css/navigation.css" th:href="@{/css/navigation.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>
    <div th:fragment="navigation">
        <nav>
            <ul>
                <li><a href="/" data-cy="homeNav">Home</a></li>

                <li sec:authorize="hasRole('ADMIN')">
                    <a href="/courses/new" data-cy="createCourseNav">Create Course</a>
                </li>

                <li>
                    <a href="/courses/all" data-cy="coursesNav">Courses</a>
                </li>

                <li>
                    <a href="/aboutUs" data-cy="aboutNav">About Us</a>
                </li>

                <li sec:authorize="isAuthenticated()">
                    <a href="/login?logout" data-cy="logoutNav">Logout</a>
                </li>

                <li sec:authorize="isAnonymous()">
                    <a href="/login" data-cy="loginNav">Login</a>
                </li>

                <li sec:authorize="isAnonymous()">
                    <a href="/registration" data-cy="signUpNav">Sign up</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>