@font-face {
    font-family: 'playlist-script';
    src: url('../fonts/playlist-script.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hussar-ekologiczne';
    src: url('../fonts/hussar-ekologiczne.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.macra {
    font-family: 'playlist-script';
}

.micia {
    font-family: 'hussar-ekologiczne';
}

.place-above {
   position: relative
}

.caption {
    position: absolute;
    top: 45%;
    left: 0%;
    width: 100%
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.custom-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}