@font-face {
    font-family: 'playlist-script';
    src: url('../fonts/playlist-script.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hussar-ekologiczne';
    src: url('../fonts/hussar-ekologiczne.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.macra {
    font-family: 'playlist-script';
}

.micia {
    font-family: 'hussar-ekologiczne';
}