<!DOCTYPE html >
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark text-white">
  <header>
    <div th:insert="fragments/header.html :: universalheader"></div>
  </header>
  <div th:insert="fragments/navigation.html :: navigation"></div>
  <div class="container p-3 my-4 bg-secondary" align="center">
    <h1 class="macra text-center">About Us</h1>

    <h4>We Are</h4>
    <p>Nastasja Stephanie Parschew</p>
    <p>Lukas Ludwig</p>
    <p>Henriette Sand<p>

    <h4>Our Project Goals</h4>
    <ol>
      <li>sharing artwork</li>
      <li>generating income</li>
      <li>gaining publicity in art community</li>
    </ol>

    <h4>Our Personas</h4>
      <p>Holder of Website:</p>
      <img src="../static/img/userpersona_lisa.jpg" alt="Lisa" width="400" th:src="@{img/userpersona_lisa.jpg}"/>
      <p>User of Website:</p>
      <img src="../static/img/userpersona_claudia.jpg" alt="Claudia" width="400" th:src="@{img/userpersona_claudia.jpg}"/>
  </div>
</body>
</html>