<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark text-white">
    <header th:insert="fragments/header.html :: universalheader"></header>
    <div th:insert="fragments/navigation.html :: navigation"></div>
    <div class="container p-3 my-4 bg-secondary" align="center">
        <h1 class="macra">Login</h1>

        <div>
        <form name="f" th:action="@{/user/login/authenticate}" method="post" class="form-horizontal">
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <div class="form-group">
                <label for="username" data-cy="loginLabelUsername" class="col-form-label col-sm-2">Username</label>
                <div class="col-sm-4">
                    <input type="text" id="username" name="username" data-cy="loginInputUsername" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" data-cy="loginLabelPassword" class="col-form-label col-sm-2">Password</label>
                <div class="col-sm-4">
                    <input type="password" id="password" name="password" data-cy="loginInputPassword" class="form-control"/>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-light" data-cy="loginButton">Log in</button>
            </div>
        </form>
        </div>
    </div>
</body>
</html>