<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Courses</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/custom.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark text-white">
  <header>
    <div th:insert="fragments/header.html :: universalheader"></div>
  </header>
  <div th:insert="fragments/navigation.html :: navigation"></div>
  <div class="container p-3 my-4 bg-secondary" align="center">
    <h1 class="macra text-center">Courses</h1>

    <table data-cy="tableCourses">
      <thead data-cy="tableCoursesHeader">
        <tr>
          <th data-cy="tableCoursesHeaderTitle">Title</th>
          <th data-cy="tableCoursesHeaderDescription">Description</th>
          <th data-cy="tableCoursesHeaderDate">Date</th>
          <th data-cy="tableCoursesHeaderVenue">Venue</th>
          <th data-cy="tableCoursesHeaderSpots">Remaining Spots</th>
        </tr>
      </thead>
      <tbody data-cy="tableCoursesBody">
       <!-- <tr th:if="${courses.empty}">
          <td colspan="2" data-cy="tableCoursesEmpty">No courses available</td>
        </tr> -->
        <tr th:each="course: ${courses}">
          <td th:text="${course.title}"/>
          <td th:text="${course.description}"/>
          <td th:text="${course.date}"/>
          <td th:text="${course.venue}"/>
          <td th:text="${course.maxSpots}" align="center"/>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>