<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Courses</title>
</head>
<body>
  <header>
    <h1>Courses</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/courses/add">Create Course</a></li>
      <li><a tabindex="0" aria-current="page">Courses</a></li>
      <li><a href="/aboutUs">About Us</a></li>
    </ul>
  </nav>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
        <th>Venue</th>
        <th>Remaining Spots</th>
      </tr>
    </thead>
    <tbody>
      <tr th:if="${courses.empty}"></tr>
        <td colspan="2">No courses available</td>
      <tr th:each="course: ${courses}">
        <td th:text="${course.title}"/>
        <td th:text="${course.description}"/>
        <td th:text="${course.date}"/>
        <td th:text="${course.venue}"/>
        <td th:text="${course.getFreeSpots()}"/>
      </tr>
    </tbody>
  </table>
</body>
</html>