<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Courses</title>
</head>
<body>
  <header>
    <h1>MacraMicia</h1>
  </header>
  <div th:insert="fragments/navigation.html :: navigation"></div>
  <h2>Courses</h2>

  <table data-cy="tableCourses">
    <thead data-cy="tableCoursesHeader">
      <tr>
        <th data-cy="tableCoursesHeaderTitle">Title</th>
        <th data-cy="tableCoursesHeaderDescription">Description</th>
        <th data-cy="tableCoursesHeaderDate">Date</th>
        <th data-cy="tableCoursesHeaderVenue">Venue</th>
        <th data-cy="tableCoursesHeaderSpots">Remaining Spots</th>
      </tr>
    </thead>
    <tbody data-cy="tableCoursesBody">
      <tr th:if="${courses.empty}">
        <td colspan="2" data-cy="tableCoursesEmpty">No courses available</td>
      </tr>
      <tr th:each="course: ${courses}">
        <td th:text="${course.title}"/>
        <td th:text="${course.description}"/>
        <td th:text="${course.date}"/>
        <td th:text="${course.venue}"/>
        <td th:text="${course.getFreeSpots()}" align="center"/>
      </tr>
    </tbody>
  </table>
</body>
</html>