<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Course</title>
</head>
<body>
  <header>
    <h1>MacraMicia</h1>
  </header>
  <div th:insert="fragments/navigation.html :: navigation"></div>
  <h2>Create a new course</h2>

  <form action="#" th:action="@{/courses/add}" th:object="${course}" method="post">
    <div class="field">
      <label>Title*</label><br>
      <input name="title" type="text" th:field="*{title}" required><br>
      <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</span>
    </div>

    <div class="field">
      <label>Description</label><br>
      <input name="description" type="text" th:field="*{description}"><br>
      <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</span>
    </div>

    <div class="field">
      <label>Date*</label><br>
      <input name="date" type="date" th:field="*{date}" required><br>
      <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Name Error</span>
    </div>

    <div class="field">
      <label>Venue*</label><br>
      <input name="venue" type="text" th:field="*{venue}" required><br>
      <span th:if="${#fields.hasErrors('venue')}" th:errors="*{venue}">Name Error</span>
    </div>

    <div class="field">
      <label>Maximum Spots</label><br>
      <input name="maxSpots" type="number" min="1" th:field="*{maxSpots}"><br>
      <span th:if="${#fields.hasErrors('maxSpots')}" th:errors="*{maxSpots}">Name Error</span>
    </div>

    <input type="submit" value="Create">
  </form>
</body>
</html>