<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Course</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/custom.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark text-white">
  <header>
    <div th:insert="fragments/header.html :: universalheader"></div>
  </header>
  <div th:insert="fragments/navigation.html :: navigation"></div>
  <h2 class="macra text-center">Create a new course</h2>

  <form action="#" th:action="@{/courses/show}" th:object="${course}" method="post">

    <div class="field">
      <label>Title*</label><br>
      <input name="title" type="text" placeholder="Learn Macramee" th:field="*{title}" required><br>
      <!--<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</span>-->
    </div>

    <div class="field">
      <label>Description</label><br>
      <input name="description" type="text" placeholder="Are you interested in macramee but you do not know how
        to do it? Let's create something together. I'll show you how to make your own wall hanging or planthanger,
        explaining you step by step how to knot." th:field="*{description}"><br>
      <!--<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</span>-->
    </div>

    <div class="field">
      <label>Date*</label><br>
      <input name="date" type="date" th:field="*{date}" required><br>
      <!--<span th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Name Error</span>-->
    </div>

    <div class="field">
      <label>Venue*</label><br>
      <input name="venue" type="text" th:field="*{venue}" required><br>
      <!--<span th:if="${#fields.hasErrors('venue')}" th:errors="*{venue}">Name Error</span>-->
    </div>

    <div class="field">
      <label>Maximum Spots</label><br>
      <input name="maxSpots" type="number" th:field="*{maxSpots}"><br>
      <!--<span th:if="${#fields.hasErrors('maxSpots')}" th:errors="*{maxSpots}">Name Error</span>-->
    </div>

    <input type="submit" value="Create">
  </form>
</body>
</html>