<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark text-white">
    <header th:insert="fragments/header.html :: universalheader"></header>
    <div th:insert="fragments/navigation.html :: navigation"></div>
    <h2>Login</h2>

    <form name="f" th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="alert alert-error">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>
        <br>
        <label for="username" data-cy="loginLabelUsername">Username</label>
        <input type="text" id="username" name="username" data-cy="loginInputUsername"/>
        <br>
        <label for="password" data-cy="loginLabelPassword">Password</label>
        <input type="password" id="password" name="password" data-cy="loginInputPassword"/>
        <div class="form-actions">
            <button type="submit" class="btn" data-cy="loginButton">Log in</button>
        </div>
    </form>
</body>
</html>