<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Courses</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/custom.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark text-white">
  <header th:insert="fragments/header.html :: universalheader"></header>
  <div th:insert="fragments/navigation.html :: navigation"></div>
  <div class="container p-3 my-4 bg-secondary" align="center">
    <h1 class="macra text-center">My Courses</h1>

    <div class="card-deck text-body" data-cy="myCourseCard">
      <div th:if="${myCourses.empty}">
        <p>You haven't booked any courses yet.</p>
      </div>
      <div class="card bg-light" th:each="course: ${myCourses}">
        <div class="card-header">
          <h4 class="card-title" th:text="${course.title}"></h4>
        </div>
        <div class="card-body">
          <p><label class="card-text" th:text="${course.description}"></label></p>
          <p><label class="card-text" th:text="'Date: ' + ${course.date}"></label></p>
          <p><label class="card-text" th:text="'Time: ' + ${course.time}"></label></p>
          <p><label class="card-text" th:text="'Venue: ' + ${course.venue}"></label></p>
          <p><label class="card-text" th:text="'Spots: ' + ${course.maxSpots}"></label></p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>