<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark text-white">
    <header th:insert="fragments/header.html :: universalheader"></header>
    <div th:insert="fragments/navigation.html :: navigation"></div>
    <h2>Sign Up</h2>

    <p>Please fill in this form to create an account.</p>

    <form name="f" th:action="@{/user/registration}" method="post">

        <label data-cy="registrationLabelFirstName"><b>First name</b></label>
        <input type="text" placeholder="Enter first name" name="first_name" data-cy="registrationInputFirstName" required>
            <br>

        <label data-cy="registrationLabelLastName"><b>Last name</b></label>
        <input type="text" placeholder="Enter last name" name="last_name" data-cy="registrationInputLastName" required>
            <br>

        <label data-cy="registrationLabelEmail"><b>Email</b></label>
        <input type="text" placeholder="Enter e-mail" name="email" data-cy="registrationInputEmail" required>
            <br>

        <label data-cy="registrationLabelUsername"><b>Username</b></label>
        <input type="text" placeholder="Enter username" name="username" data-cy="registrationInputUsername" required>
            <br>

        <label data-cy="registrationLabelPassword"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" data-cy="registrationInputPassword" required>
            <br>

        <button type="submit" class="signupbtn" data-cy="signUpButton">Sign Up</button>
    </form>
</body>
</html>