<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark text-white">
    <header th:insert="fragments/header.html :: universalheader"></header>
    <div th:insert="fragments/navigation.html :: navigation"></div>
    <div class="container p-3 my-4 bg-secondary">
        <div align="center">
            <h1 class="macra">Sign Up</h1>

            <p>Please fill in this form to create an account.</p>
        </div>
        <form class="form-horizontal" name="f" th:action="@{/user/registration/create}" method="post">
            <div class="form-group row">
                <label for="first_name" class="col-form-label col-sm-2" data-cy="registrationLabelFirstName"><b>First name</b></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter first name" name="first_name" id="first_name" data-cy="registrationInputFirstName" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2" data-cy="registrationLabelLastName"><b>Last name</b></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter last name" name="last_name" data-cy="registrationInputLastName" required>
                </div>
            </div>

            <div class="form-group row">
            <label class="control-label col-sm-2" data-cy="registrationLabelEmail"><b>Email</b></label>
                <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter e-mail" name="email" data-cy="registrationInputEmail" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2" data-cy="registrationLabelUsername"><b>Username</b></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter username" name="username" data-cy="registrationInputUsername" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2" data-cy="registrationLabelPassword"><b>Password</b></label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Enter Password" name="password" data-cy="registrationInputPassword" required>
                </div>
            </div>

            <div align="center">
                <button type="submit"  data-cy="signUpButton" class="btn btn-light">Sign Up</button>
            </div>
        </form>
    </div>
</body>
</html>