<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark text-white">
<header th:insert="fragments/header.html :: universalheader"></header>
<div th:insert="fragments/navigation.html :: navigation"></div>
<div class="container p-3 my-4 bg-secondary" align="center">
    <h1 class="macra text-center">Under Construction</h1>
    <div class="col-sm-10">
        <p> My contact form is still being build by my magical elves. It will be available for you soon.</p>
        <p> For any inquiries please write to me at macramicia@gmail.com.</p>
        <p> If you are interested in purchasing one of art works please include the item number in your message. I will get back to you with all the details on availability, prices and shipping.</p>
    </div>
</div>
</body>
</html>